---
import AccordionSolutions from "../components/Courses";
import Gallery from "../components/Gallery.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import OfferCompanies from "../components/OfferCompanies.astro";
import Pricing from "../components/Pricing.astro";
import Contact from "../components/contact";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main class="mx-auto max-w-7xl">
    <Hero />
    <AccordionSolutions client:only />
    <Pricing />
    <OfferCompanies />
    <Gallery />
    <Contact />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    line-height: 1.6;
  }
</style>
