---
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Pricing from "../components/Pricing.astro";
import Layout from "../layouts/Layout.astro";
import AccordionSolutions from "../components/Courses";
import OfferCompanies from "../components/OfferCompanies.astro";
import Gallery from "../components/Gallery.astro";
import Contact from "../components/contact";
---

<Layout>
  <Header />
  <main class=" mx-auto max-w-7xl">
    <Hero />
    <AccordionSolutions client:only/>
    <Pricing/>
    <OfferCompanies/>
    <Gallery/>  
    <Contact client:only/>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    line-height: 1.6;
  }
</style>
