---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <Hero />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    line-height: 1.6;
  }
</style>
