---
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Pricing from "../components/Pricing.astro";
import Layout from "../layouts/Layout.astro";
import AccordionSolutions from "../components/Courses";
---

<Layout>
  <Header />
  <main class="px-4">
    <Hero />
    <AccordionSolutions client:only/>
    <Pricing/>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    line-height: 1.6;
  }
</style>
