---
import { RoundedDrawerNav } from "./Nav";
---

<div class="bg-neutral-950">
  <RoundedDrawerNav
    client:load
    links={[
      {
        title: "Course type",
        href: "course-type",
      },
      {
        title: "Offer for companies",
        href: "offer-for-companies",
      },
      {
        title: "Pricing",
        href: "pricing",

      },
      {
        title: "Contact",
        href: "contact",
      },
    ]}
    navBackground="bg-[#780404]"
  />
</div>
