---
import { Image } from "astro:assets";
import HeroImage from "../assets/Joanna.jpeg";
---

<section
  class="flex justify-evenly gap-10 md:gap-0 items-center md:my-16 my-10 flex-wrap-reverse"
>
  <div class="text max-w-xl">
    <h1 class="text-3xl md:text-6xl md:leading-tight font-bold">
      Master English with Personalized Tutoring
    </h1>
    <p class="text-base md:text-lg mt-4 md:mt-10 font-normal">
      Joanna Wiśniewska, English teacher from fifteen years of experience in
      teaching students of all ages and levels. Teacher's graduate College of
      Foreign Languages and English Philology. In addition to teaching English,
      by many for years I worked with the United States and Great Britain
      implementing hundreds of projects for English-speaking clients.
    </p>

    <button
      class="font-sans text-xl p-4 bg-red-800 transition-all hover:bg-white hover:text-red-900 hover:border-red-900 hover:border-2 text-white w-44 mt-8"
      >Contact me</button
    >
  </div>

  <Image
    src={HeroImage}
    alt="Joanna"
    class="w-full h-full md:w-[35rem] md:h-[35rem]"
  />
</section>
