---
import { Image } from "astro:assets";
import HeroImage from "../assets/Joanna.jpeg";
---

<section
  class="flex justify-evenly gap-10 md:gap-0 items-center md:my-10 my-10 flex-wrap-reverse"
>
  <div class="max-w-xl">
    <h1 class="text-4xl md:text-5xl md:leading-tight tracking-wide
     font-bold uppercase">
      Joanna Wiśniewska
    </h1>
    <p class="text-base md:text-lg mt-4 font-normal">
      Experience personalized language learning with a passionate tutor in the heart of poland.
    </p>

    <button
      class="font-sans text-lg outline-none rounded-lg p-2 bg-red-800 transition-all hover:bg-white hover:text-red-900 border-2 hover:border-2 hover:border-red-900 text-white w-44 mt-5 md:w-64"
      >Contact me</button
    >
  </div>

  <Image
    src={HeroImage}
    alt="Joanna"
    class="w-full h-full max-w-[40rem] rounded-md"
  />
</section>
